# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore all makefiles
!Makefile
!/Makefile

### Above combination will ignore all files without extension ###
*.o

# IDE
.idea